In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import pickle

In [2]:
zomato_df=pd.read_csv("zomato_trivandrum.csv")

In [3]:
zomato_df

            restaurant_name                   dish_name  dish_price_INR
0               North Bites  Samosa Chaat (Dahi Samosa)           115.0
1               North Bites   Chole Bhature [2 Bhature]           220.0
2               North Bites                   Pav Bhaji           160.0
3               North Bites                    Vada Pav            88.0
4               North Bites                    Panipuri            80.0
...                     ...                         ...             ...
37146  Al Hamdh Biryani Hut    Chicken Biryani with Egg           130.0
37147  Al Hamdh Biryani Hut                 Egg Biryani            99.0
37148  Al Hamdh Biryani Hut             Chicken Biryani           115.0
37149  Al Hamdh Biryani Hut           4 Chicken Biryani           455.0
37150  Al Hamdh Biryani Hut    Chicken Biryani with Egg           130.0

[37151 rows x 3 columns]

In [4]:
zomato_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37151 entries, 0 to 37150
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  37151 non-null  object
 1   dish_name        37151 non-null  object
 2   dish_price_INR   37151 non-null  float64
dtypes: float64(1), object(2)
memory usage: 870.9+ KB

In [5]:
zomato_df.shape

(37151, 3)

In [6]:
zomato_df.isna().sum()

restaurant_name    0
dish_name          0
dish_price_INR     0
dtype: int64

In [7]:
zomato_df.duplicated().sum()

6435

In [8]:
zomato_df[zomato_df.duplicated()]

              restaurant_name                       dish_name  dish_price_INR
26                North Bites                    Aloo Paratha           120.0
27                North Bites                  Paneer Paratha           180.0
28                North Bites            Aloo Paratha + Chole           180.0
32                North Bites  Aloo Paratha with Paneer Curry           200.0
34                North Bites       Chole Bhature [2 Bhature]           220.0
...                       ...                             ...             ...
37137  Surendra Trident Hotel                 Chicken Noodles           220.0
37139  Surendra Trident Hotel                    French Fries           120.0
37142  Surendra Trident Hotel            Chicken Chapati Roll           159.0
37145      Kalappa Restaurant              Homemade Veg Meals           105.0
37150    Al Hamdh Biryani Hut        Chicken Biryani with Egg           130.0

[6435 rows x 3 columns]

In [9]:
zomato_df.drop_duplicates(inplace=True)

In [10]:
zomato_df.duplicated().sum()

0

In [11]:
zomato_df['restaurant_name'].nunique()

399

In [12]:
zomato_df['dish_name'].nunique()

18654

In [13]:
zomato_df['dish_name'].unique()

array(['Samosa Chaat (Dahi Samosa)', 'Chole Bhature [2 Bhature]',
       'Pav Bhaji', ..., 'Homemade Veg Meals', 'Chicken Biryani with Egg',
       '4 Chicken Biryani'], dtype=object)

In [14]:
zomato_df['dish_name']=zomato_df['dish_name'].str.lower()

In [15]:
def dish_input(dish_name_req):
    zomato_df1=pd.DataFrame()
    dish_name_req=dish_name_req.lower()
    zomato_df1=zomato_df[zomato_df['dish_name'].str.contains(dish_name_req)]
    lists1=zomato_df1['restaurant_name'].values
    lists2=zomato_df1['dish_name'].values
    lists3=zomato_df1['dish_price_INR'].values
    final_list=list(zip(lists1,lists2,lists3))
    return final_list

In [16]:
dish_input('butter chicken')

[('Hotel Chinnus', 'butter chicken', 278.0),
 ('Hotel Chinnus', 'boneless butter chicken', 299.0),
 ('Dindigul Thalappakatti', 'butter chicken masala', 319.0),
 ('Paragon Restaurant', 'butter chicken masala', 370.0),
 ('Aasife Biriyani', 'butter chicken masala', 240.0),
 ('Atelier By Ambrosia & Amit Puri', 'butter chicken', 365.71),
 ('Momo Zone - The Momo Company', 'butter chicken steamed momo', 165.0),
 ('Momo Zone - The Momo Company', 'butter chicken fried momo', 149.0),
 ('Momo Zone - The Momo Company', 'butter chicken moburg', 148.0),
 ('Momo Zone - The Momo Company', 'butter chicken mowrap', 135.0),
 ('Garam Masala Restaurant', 'butter chicken', 290.0),
 ('Hotel Libra', 'butter chicken', 280.0),
 ('Lemon Restaurant', 'butter chicken', 240.0),
 ('Kappithan', 'butter chicken', 279.0),
 ('Paaykappal',
  'butter chicken combo [full butter chicken + 3 porotta]',
  290.0),
 ('Paaykappal', 'butter chicken masala', 353.0),
 ('Hotel Mooncity', 'parotta butter chicken combo', 129.0),
 ('Hotel Mooncity', 'butter chicken', 180.0),
 ('Supreme Dhariya Biriyani', 'butter chicken', 241.53),
 ('Sijis Pizza Street', 'butter chicken penne pasta', 250.0),
 ('Supreme Bakers', 'butter chicken', 241.53),
 ('Charcoal Restaurant & Grill', 'butter chicken', 275.0),
 ('Momo Prime', 'butter chicken loaded fries', 170.0),
 ('ZamZam Dosa Hut', '1 puttu & butter chicken', 269.0),
 ('ZamZam Dosa Hut', '2 dosa with butter chicken', 306.9),
 ('ZamZam Dosa Hut', '5 thattu dosa with butter chicken', 306.9),
 ('ZamZam Dosa Hut', 'butter chicken masala', 415.8),
 ('ZamZam Dosa Hut', '2 kerala poratta & butter chicken half', 264.0),
 ('ZamZam Dosa Hut', 'appam (3 pc) & butter chicken ( 2pcs)', 228.8),
 ('ZamZam Dosa Hut', 'butter chicken + 5 paratha', 548.9),
 ('ZamZam Dosa Hut', 'half butter chicken +4 poratha', 350.9),
 ('Zam Zam YMR', 'butter chicken [ 2 pieces ] + 4 paratha', 269.5),
 ('Zam Zam YMR', '2 pcs butter chicken +2 wheat parotta', 250.8),
 ('Zam Zam YMR', 'butter chicken + 4 paratha', 477.4),
 ('Zam Zam YMR', 'butter chicken + 5 wheat paratha', 523.6),
 ('Zam Zam Bun Cafe', 'butter chicken pasta', 352.38),
 ('Faasos Signature Wraps and Rolls',
  'smoked butter chicken rice bowl (regular)',
  255.0),
 ('Faasos Signature Wraps and Rolls',
  'smoked butter chicken rice bowl (jumbo)',
  319.0),
 ('Firangi Bake', 'butter chicken lasagna', 325.0),
 ('Firangi Bake', 'punjabi butter chicken mac n cheese pasta', 349.0),
 ('The Good Bowl', "good'ol butter chicken rice bowl", 319.0),
 ('The Good Bowl',
  'butter chicken rice bowl super saver combo (serves 1)',
  397.0),
 ('Ovenstory Pizza', 'butter chicken pizza (medium pizza)', 599.0),
 ('Ovenstory Pizza', 'butter chicken semizza (half pizza)', 359.0),
 ('Ovenstory Pizza',
  'butter chicken cheese burst semizza (half pizza)',
  419.0),
 ('Ovenstory Pizza', 'punjabi butter chicken mac n cheese pasta', 399.0),
 ('The Biryani Life', 'smoked butter chicken bowl (half kg)', 399.0),
 ('Behrouz Biryani',
  "old delhi's murgh makhani (butter chicken gravy - serves 2)",
  499.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken & rice lunchbox',
  259.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken & chapati lunchbox',
  249.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken & bread kulcha lunchbox',
  259.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken bowl (half kg)',
  399.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken, rice lunchbox with gulab jamun (2 pcs)',
  288.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken & paratha lunchbox',
  269.0),
 ('LunchBox - Meals and Thalis',
  'smoked butter chicken jumbo lunchbox',
  339.0),
 ('Faasos - Wraps & Rolls',
  'smoked butter chicken rice bowl (regular)',
  255.0),
 ('Faasos - Wraps & Rolls', 'smoked butter chicken rice bowl (jumbo)', 319.0),
 ('New Kings Restaurant', 'butter chicken', 319.0),
 ('De Paris Restaurant', 'butter chicken boneless', 370.0),
 ('De Paris Restaurant',
  '1 egg fried rice + 2 piece of butter chicken',
  299.0),
 ('De Paris Restaurant', 'butter chicken rice bowl', 200.0),
 ('De Paris Restaurant',
  '1 full mexican alfahm + 2 chicken fried rice + 1 chicken noodle+ 4 porotta + 1 chilly chicken bone + 1 butter chicken + 1 chicken 65 + 4 fresh lime',
  2400.0),
 ('Padheyam Food Court', 'butter chicken', 240.0),
 ('Irani Kuzhimandhi Restaurant', 'butter chicken [4 pieces]', 260.0),
 ('Saaya Family Restaurant', 'butter chicken', 180.0),
 ('Punjabi House', 'butter chicken boneless', 372.0),
 ('Chaappi Restaurant', 'butter chicken', 320.0),
 ('Chaappi Restaurant', 'chicken fried rice+butter chicken', 295.0),
 ('Chaappi Restaurant',
  'full alfaham + 6 parotta + butter chicken + 1 pepsi',
  960.0),
 ('Chaappi Restaurant', 'butter chicken [boneless]', 346.0),
 ('Zam Zam Palayam', '2 chapathi+1 pc butter chicken', 138.0),
 ('Zam Zam Palayam', '2 kerala parata+1 pc butter chicken', 138.0),
 ('Zam Zam Palayam', '3 paratha + 2 pcs butter chicken + crusher', 295.9),
 ('Zam Zam Palayam', '2 pieces butter chicken with 2 wheat paratta', 229.9),
 ('Zam Zam Palayam', '2 pieces butter chicken with 4 paratta', 268.4),
 ('Zam Zam Palayam', 'butter chicken with 4 paratta', 488.4),
 ('Zam Zam Palayam', 'butter chicken with 4 wheat paratta', 506.0),
 ('The Olive Restaurant', 'butter chicken (bone less)', 349.0),
 ('Sweet N Spicy Family Restaurant', 'butter chicken', 349.0),
 ('Sweet N Spicy Family Restaurant',
  'butter chicken [1/2 portion] with 2 poratta',
  209.0),
 ('Sweet N Spicy Family Restaurant',
  'butter chicken [1/2 portion] with 2 chapati',
  155.0),
 ('Salwa Dine', 'butter chicken', 351.0),
 ('Salwa Dine', 'boneless butter chicken', 364.5),
 ('Golden Fork By Maurya Rajadhani', 'butter chicken masala', 265.0),
 ("Tomato's Bakes & Grills", '3 kerala porota + butter chicken', 210.0),
 ("Tomato's Bakes & Grills", 'butter chicken', 280.0),
 ('Statue Hotel', 'butter chicken', 250.0),
 ('Curry House By Spice Retreat', 'butter chicken masala', 162.0),
 ('Indrapuri Rajadhani', 'butter chicken masala', 260.0),
 ('Alibaba & 41 Dishes', 'butter chicken', 335.0),
 ('Zrooz Grand Restaurant Bakers', 'butter chicken', 280.0),
 ('Kluster Kafe', 'butter chicken', 364.0),
 ('The Grill', 'butter chicken', 360.0),
 ('Lunchbox - Meals and Thalis',
  'smoked butter chicken, rice lunchbox with gulab jamun (2 pcs)',
  288.0),
 ('Lunchbox - Meals and Thalis',
  'smoked butter chicken & rice lunchbox',
  259.0),
 ('Lunchbox - Meals and Thalis',
  'smoked butter chicken & paratha lunchbox',
  269.0),
 ('Lunchbox - Meals and Thalis',
  'smoked butter chicken jumbo lunchbox',
  339.0),
 ('Lunchbox - Meals and Thalis',
  'smoked butter chicken bowl (half kg)',
  399.0),
 ('Q Nine Restaurant', 'butter chicken', 250.0),
 ('Ambara Multi Cuisine Restaurant', 'butter chicken', 320.0),
 ('Dar Es Salaam Resto', 'butter chicken', 310.0),
 ('Tadka Restaurant', 'murgh makhini - butter chicken', 384.0),
 ('SP Grand Days', 'butter chicken masala', 420.0),
 ('De Paris', 'butter chicken boneless', 370.0),
 ('Royal Travancore Kitchen', '3 parota + butter chicken masala (2pc)', 224.0),
 ('Royal Travancore Kitchen',
  'chicken fried rice (f) + butter chicken masala (f)',
  374.0),
 ('Royal Travancore Kitchen', 'butter chicken masala', 289.0),
 ('Royal Travancore Kitchen',
  '1 butter garlic naan + butter chicken masala (h)',
  274.0),
 ('Royal Travancore Kitchen',
  'chicken fried rice (h) + 2pc butter chicken masala',
  274.0),
 ('Rooster King Restaurant', 'butter chicken', 286.0),
 ('Rooster King Restaurant', 'boneless butter chicken', 351.0),
 ('Plav Multicuisine Restaurant', 'butter chicken', 290.0),
 ('Seabass Sea Food Restaurant', 'butter chicken', 219.04),
 ('Lords', 'butter chicken combo', 229.0),
 ('Lords', 'butter chicken', 219.0),
 ('The Test Kitchen', 'butter chicken', 248.0),
 ('Hotel Chola International', 'boneless butter chicken masala', 280.0),
 ('Hotel Chola International', 'butter chicken masala', 250.0),
 ('Lulu Hypermarket', 'murgh makhni 300 gm (butter chicken)', 200.0),
 ('Lulu Hypermarket', 'butter chicken 300 gm + butter nan 1 pc', 240.0),
 ('Cafe Lemon', 'butter chicken curry', 300.0),
 ('Cafe Lemon', 'butter chicken roll', 230.0),
 ('Kingsway Hotel - Grand Duke', 'butter chicken', 280.0),
 ('Silver Sand Hotel', 'butter chicken', 200.0),
 ('Hotel Pallava Rajadhani', 'butter chicken masala', 250.0),
 ('Homies Restaurant', '3 parotta + 3 chapati + butter chicken', 379.0),
 ('Homies Restaurant', 'butter chicken', 339.0),
 ('Panchali By Rajadhani', 'butter chicken masala', 250.0),
 ('Hotel Rajadhani', 'butter chicken masala', 250.0),
 ('Hotel Rajadhani', 'boneless butter chicken masala', 280.0),
 ('The Raahath Restaurant', 'butter chicken', 230.0),
 ('Thaqwa Restaurant', 'butter chicken', 339.0),
 ("Asok's Bake And Bistro", 'butter chicken masala', 312.0),
 ('New Food Land', 'butter chicken', 230.0),
 ('Arabian Tasty Cafe', 'butter chicken', 179.0),
 ('Lamiya Food Palace', 'butter chicken', 330.0),
 ('Kumar Cafe', 'butter chicken masala [serves 1]', 260.0),
 ('Tharavattil Thanima Restaurant', 'butter chicken', 180.0),
 ('Dingan Kitchen', 'butter chicken', 270.0),
 ('Grand Chef Restaurant', 'butter chicken masala', 288.0),
 ('Break Time Restro Cafe', 'butter chicken pizza', 340.0),
 ('GG Restaurant', 'butter chicken', 229.0),
 ('Al Maaz', 'butter chicken', 280.0),
 ('Zam Zam Restaurant', 'butter chicken pasta', 363.0),
 ('Eaton Cafe', 'butter chicken [big, 2 pieces]', 199.0),
 ('Irani Kuzhimandi Restaurant', 'butter chicken', 286.0),
 ('Irani Kuzhimandi Restaurant', 'boneless butter chicken', 300.0),
 ('MRA Signature Bakery & Restaurant',
  '3paratha+2pc butter chicken+combo juice',
  199.0),
 ('Break Time Cafe', 'butter chicken pizza', 273.0),
 ('Bharani Restaurant', 'butter chicken masala', 250.0),
 ('The Golden Forks', 'butter chicken', 120.0),
 ('Kings Restaurant', 'butter chicken', 275.0),
 ('Kings Restaurant', 'butter chicken boneless', 299.0),
 ('Shawarmigos', 'butter chicken shawarma', 221.0),
 ('Shawarmigos', 'butter chicken rice box', 273.0),
 ('Shawarmigos', 'butter chicken shawarma [12 inches]', 286.0),
 ('BGF- Le Café Signature', 'butter chicken cheese burger', 175.0),
 ('Kadal Restaurant', 'butter chicken', 300.0),
 ('UBQ by Barbeque Nation', 'chicken biryani and butter chicken meal', 419.0),
 ('UBQ by Barbeque Nation', 'butter chicken', 299.0),
 ('UBQ by Barbeque Nation', 'butter chicken meal-regular', 359.0),
 ('UBQ by Barbeque Nation', 'mutton biryani and butter chicken meal', 519.0),
 ('Barbeque Nation', 'chicken biryani and butter chicken meal', 419.0),
 ('Barbeque Nation', 'butter chicken meal-regular', 359.0),
 ('Barbeque Nation', 'mutton biryani and butter chicken meal', 519.0),
 ('Al Naztha Tasty Food', '6 parotta with butter chicken', 249.0),
 ('Al Naztha Tasty Food', 'butter chicken', 249.0),
 ('Urban Kitchen', 'butter chicken [500 ml]', 290.0),
 ('Khao', 'murg makhani (butter chicken)', 300.0),
 ('Homely Foods', 'butter chicken', 220.0),
 ('Spicebridge Restaurant', 'butter chicken', 300.0)]

In [17]:
pickle.dump(zomato_df,open('zomato_tvm.pkl','wb'))